body {
font-family: Arial, sans-serif;
color: #F3AA65;
line-height: 1.6;
font-size: 1.2rem;
font-weight: normal;
padding: 0 2em;
background-color: #6977CE;
}

h1 {
color: #FFFFFF;
text-align: center;
font-size: 3rem;
font-weight: bold;
margin-top: 2rem;
}

h2 {
font-size: 2rem;
font-weight: bold;
color: #333;
margin-top: 1.5rem;
}

section {
border: none;
border-radius: 10px;
padding: 1.5rem;
margin: 1.5rem 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
background-color: #fff;
}

.grid-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 2rem;
justify-items: center;
}

.products {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-auto-rows: minmax(0, max-content);
gap: 2rem;
justify-items: center;
}

.product {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto auto auto;
grid-template-areas:
"photo"
"name"
"brand"
"price"
"date";
border-radius: 10px;
overflow: hidden;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.productPhoto {
grid-area: photo;
max-height: 200px;
max-width: 100%;
object-fit: cover;
}

.product span:nth-child(1) {
grid-area: name;
font-weight: bold;
color: #333;
font-size: 1.2rem;
text-align: center;
}

.product span:nth-child(2) {
grid-area: brand;
color: #F3AA65;
font-size: 1rem;
font-weight: bold;
text-align: center;
}

.product span:nth-child(3) {
grid-area: price;
font-weight: bold;
font-size: 1.2rem;
color: #333;
text-align: center;
}

.product span:nth-child(4) {
grid-area: date;
font-size: 0.8rem;
color: #777;
text-align: center;
}

button {
  background-color: #6977CE;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease;
}


